.home-4 {
  margin-top: 20px;
  margin-bottom: -20px;
  .title-2 {
    color: #024caa;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  .city-card {
    padding: 20px 0px;
    justify-content: center;
    
    .job-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      gap: 16px; 
      width: 100%;
    }
    .city-card-mini {
      display: flex;
      justify-content: center;
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    }
    .city-card-mini:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .city-name {
      font-size: 20px;
      font-weight: bold;
      justify-content: center;
      display: flex;
    }
  }

}
