.loginpage {
  min-height: 100vh;
  .login-1 {
    height: 100%;
    padding: 100px 200px;
    .header {
      .title {
        color: #024caa;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
      }
      .caption {
        color: #7f878f;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 20px;
        margin-bottom: 0;
        text-align: left;
        margin-top: 10px;
      }
    }
    .login {
      margin-top: 30px;
      .input {
        margin-top: 30px;
      }
    }
    .forgot-password {
      margin-top: 30px;
      display: flex;
      justify-content: end;
      color: #024caa;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
    .button-login {
      margin-top: 30px;
      background: #024caa;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      border: none;
      cursor: pointer;
    }
    .button-login:hover {
      background: #024caa;
    }
    .or-login {
      display: flex;
      justify-content: center;
      padding: 0px 20px;
      color: #6f7882;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 16px;
      margin-top: 16px;
    }
    .button-login-gg {
      background: red;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      border: none;
      cursor: pointer;
    }
    .button-login-gg:hover {
      background: red;
    }
    .accept {
      margin-top: 30px;
    }
    .register-account {
      margin-top: 30px;
      display: flex;
      justify-content: center;
    }
  }

  .background {
    min-height: 100vh;
    background-color: #d9d9d9;
    background-image: url('/public/6333776.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    .sologan{
        padding: 250px 0px;
        margin-left: 10px;
        .sologan-1{
            display: flex;
            justify-content: flex-start;
            font-size: 40px;
            color: black;
            font-weight: 600;
        }
        .sologan-2{
            display: flex;
            justify-content: flex-start;
            font-size: 16px;
            color: #fff;
            font-weight: 400;
            margin-top: 30px;
        }
    }
  }
}
