@import '/src/main';
.header {
  margin-bottom: 64.11px;
  &__menu {
    background-color: 'white';
    color: 'black';
    flex: 1;
  }

  .ant-menu-item {
    color: #333;
    font-weight: 500;
    border-bottom: none;
    font-size: 16px;
    border-bottom: none !important;
    &::after {
      border-bottom: none !important;
    }
    &:hover {
      border-bottom: none !important;
    }
    &:hover::after {
      border-bottom: none !important;
    }
  }

  &__recruit {
    text-align: right;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: $primary;
    }
  }
  .button-group {
    .login-home {
      color: $primary;
      font-weight: 600;
      border: 1px solid $primary;
      background-color: transparent;
    }

    .register-home {
      background-color: $primary;
      font-weight: 600;
    }

    .register-home:hover {
      background-color: $primary;
    }

    .dang-tuyen-home {
      background-color: black;
      color: white;
      font-weight: 600;
    }

    .dang-tuyen-home:hover {
      background-color: black;
    }
  }
  &__username {
    color: $primary !important;
  }
}
