.hand-book-1 {
  .card-handbook {
    margin-bottom: 20px;

    h2 {
      font-size: 30px;
      color: black;
      font-weight: bold;
    }
  }
  a {
    text-decoration: none;
  }

  .card-orientation {
    display: flex;
    flex-direction: column;
  }

  .card-container {
    display: flex;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;

    .card-content {
      display: flex;
      width: 100%;
    }

    .describe-title {
      width: 70%;
      padding: 10px;

      .title {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
      }

      .description {
        font-size: 14px;
        color: #555;
      }
    }

    .image-container {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      .handbook-image {
        width: 80%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }
}
